.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.novedades-title {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 25px;
}
.novedades-text {
  font-size: 1rem;
  color: #605f5f;
  text-align: center;
  margin-bottom: 1.5rem;
}
.buscados-title {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 30px;
}
.buscados-text {
  font-size: 1rem;
  color: #605f5f;
  text-align: center;
  margin-bottom: 1.5rem;
}
.buscados-btn {
  background-color: #e7c61b;
  color: black;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s ease;
}
.buscados-btn:hover {
  background-color: black;
  color: #e7c61b;
  border-radius: 9999px;
  border-color: #e7c61b;
}
.product-slider {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

}
.product-slider-item {
  width: 33.33%;
  padding: 1rem 0 1rem 1rem;
  scroll-snap-align: center;
}
.product-slider-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
}
.product-slider-item h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}

/*Botón filtros*//*desde aquí*/
/*.filtros-btn-wrapper {
  text-align: center;
  margin: 2rem 0 3rem;
}

.go-to-filters-btn {
  padding: 1rem 2rem;
  background-color: #e7c61b;
  border: 2px solid #000;
  color: #000;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.go-to-filters-btn:hover {
  background-color: #000;
  color: #e7c61b;
  border-color: #e7c61b;
}*/

/* Responsive */
@media (max-width: 780px) {
  .novedades-title,
  .buscados-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-top: 35px;
  }
  .novedades-text,
  .buscados-text {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }
  .novedades-btn,
  .buscados-btn {
    font-size: 0.95rem;
    padding: 0.5rem 1rem;
  }
  .product-slider-item {
    width: 50%;
    padding: 0 0.5rem;
  }
  .product-slider-item img {
    height: 18rem;
  }
  .slider-arrow {
  font-size: 1.5rem;
  padding: 0.5rem;
}

/* Responsive */
@media (max-width: 480px) {
  .home-section {
    width: 100%;
    padding: 0 0.5rem;
    align-items: center;
  }
  .novedades-title,
  .buscados-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-top: 25px;
  }
  .novedades-text,
  .buscados-text {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  .novedades-btn,
  .buscados-btn {
    font-size: 0.55rem;
    padding: 0.3rem 0.6rem;
    margin-bottom: 1.5rem;
  }
  }
  .slider-arrow {
    font-size: 1.2rem;
    padding: 0.3rem;
  }
  .arrow-left {
    left: 5px;
  }
  .arrow-right {
    right: 5px;
  }
 }

