.logo-login img {
  width: 50px;
  height: auto;
  padding-top: 1rem;
}

/* main {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}
*/
main > div {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h2 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 2rem;
  padding-top: 1rem;
  font-size: 1.1rem;
}
form ul {
  list-style: none;
}
form li {
  margin-bottom: 1.5rem;
}
input {
  width: 100%;
  padding: 1rem 0.8rem;
  padding-right: 5rem;
  border: 3px solid #E7c61b;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

.enter-button {
  width: 100%;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: #E7c61b;
  border: 2px solid whitesmoke;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 0 #c5c5c5;
  transition: all 0.2s ease;
}

.change-pass-button {
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}

.change-pass-button:hover {
  background-color: transparent;
  color: #E7c61b;
}

button:hover {
  background-color: black;
  color: #E7c61b;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
  border-color: #E7c61b;
}
.password-li {
  position: relative;
  width: 100%;
}

.eye-button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.2rem;
  color: #555;
}

.eye-button:hover {
background-color: transparent;
  
}
.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #605F5F;
}

.close-button:hover {
background-color: transparent;
}