MYSQL_HOST=localhost
MYSQL_USER= 
MYSQL_PASSWORD= 
MYSQL_DATABASE=compra_venta_tech


API_PORT=3000

# carpeta donde se guardan los archivos
UPLOADS_DIR=public

#frase secreta para verificación de autenticación (vale cualquier frase)
SECRET=Vamos_grupo_que_podemos!
